:root {
  --primary: #13669c;
  --secondary: #5490b7;
  --background: white;
  --foreground: #404040;
  --placeholder: #808080;
  --spacing: 1rem;
}

html {
  font-size: 18px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  max-width: 896px;
  min-height: 100vh;
  margin: var(--spacing) auto;
}

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

#name {
  margin-right: auto;
  color: var(--primary);
  font-weight: bold;
  font-size: 3rem;
}

.bi {
  font-size: 3rem;
  margin-left: var(--spacing);
}

.heading-2 {
  display: inline-block;
  color: var(--secondary);
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: var(--spacing);
  border-bottom: 4px solid var(--secondary);
}

.heading-4 {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--placeholder);
  margin-bottom: var(--spacing);
}

.my-card {
  width: 12rem;
}

img.project {
  width: 100%;
  height: auto;
}

img.thumbnail {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border: 1px solid var(--foreground);
  margin-bottom: var(--spacing);
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: var(--spacing);
}

#social-medias {
  font-size: 2rem;
}

.placeholder-text {
  color: var(--placeholder);
  font-size: 0.85rem;
}

.my-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: var(--spacing);
}

.skills {
  font-size: 4rem;
  margin-right: var(--spacing);
}

.skills-img {
  display: block;
  height: 4rem;
  width: 4rem;
  margin-right: var(--spacing);
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  body {
    max-width: 288px;
  }

  #name {
    font-size: 2rem;
  }

  .heading-2 {
    font-size: 1.65rem;
  }

  .heading-4 {
    font-size: 1.25rem;
  }

  .skills {
    font-size: 3rem;
  }

  .skills-img {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    max-width: 576px;
  }
}
